@import 'modal.css';
body,
html {
    width: 100%;
}

body {
    background: #ECEFF1;
    position: relative;
    scrollbar-width: none;
}

img {
    width: 100%;
}

.header {
    width: 1084px ! important;
    height: 70px;
    margin: 0 auto;
    filter: blur(14px), brightness(-0.4), opacity(50%);
    /*column-gap: 5px;*/
}

.logo img {
    height: 37px;
    width: 148px;
    margin-top: 16px;
}

.business {
    display: none;
    padding-left: 0;
}

.business img {
    height: 30px;
    width: 164px;
    margin-top: 20px;
}

.header .btn-primary {
    background-image: linear-gradient(to right, blue, #4d88ff);
    margin-top: 20px;
    height: 30px;
    width: 164px;
    font-size: 12px;
}

.hero-image {
    z-index: -1000;
    height: 215px;
    margin-top: -1%;
}

.holiday-text {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
}

.holiday-text h2 {
    text-align: center;
    font: 50px/65px Muli;
    font-weight: 900;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-left: 150px;
}

.loan-form {
    width: 1084px;
    /*height: 1500px;*/
    margin: 20px auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 12px #00000029;
    border-radius: 27px;
    padding: 30px 100px;
}

.fill h1 {
    text-align: left;
    font: 48px/60px Muli;
    font-weight: 900;
    letter-spacing: 0px;
    color: #039BE5;
    padding: 0;
}

.fill img {
    display: block;
    width: 190px;
    height: 190px;
    margin: auto;
}

.fill figcaption {
    text-align: center;
    font: 14px/18px Muli;
    font-weight: 600;
    letter-spacing: 0px;
    color: #024959;
    margin-top: 10px;
}

.loan-form form>h6 {
    text-align: left;
    font: 20px/25px Muli;
    letter-spacing: 0px;
    color: #024959;
}

.loan-form form>div.form-group {
    width: 50%;
    padding: 0 15px 0 0;
}

.loan-form form label {
    text-align: left;
    font: 22px/28px Muli;
    font-weight: 600;
    letter-spacing: 0px;
    color: #171C2C;
}

.upload input::placeholder,
.upload1 input::placeholder {
    text-align: center;
    font: 16px/20px Muli;
    font-weight: 600;
    letter-spacing: 0px;
    color: white;
}


/*.loan-form form input::placeholder {
    text-align: left;
    font: 16px/20px Muli;
    letter-spacing: 0px;
    color: #A1B0B8;
}
*/

.upload input {
    background-image: url('../new_img/loan/file-upload-icon.png');
    background-repeat: no-repeat;
    background-size: 20px 26px;
    background-position: 97% 45%;
    background-color: #0090FF;
    padding-right: 25px;
    margin-top: 32px;
}

.upload1 input {
    /*width: 80%;*/
    background-image: url('../new_img/loan/loan-upload-file.png');
    background-repeat: no-repeat;
    background-size: 45px 29px;
    background-position: 99% 45%;
    background-color: #0090FF;
    padding-right: 10px;
}

.single-line {
    display: inline-flex;
    margin-top: 15px;
}

.loan-form form input.city {
    width: 40%;
    margin-right: 5%;
}

.loan-form form input.pin {
    width: 25%;
    margin-right: 5%;
}

.loan-form form select {
    width: 25%;
    border-radius: 5px;
    text-align: left;
    font: 16px/20px Muli;
    letter-spacing: 0px;
    color: #A1B0B8;
}

.loan-form form h4 {
    text-align: left;
    font: 20px/25px Muli;
    font-weight: 700;
    letter-spacing: 0px;
    color: #00B41A;
    text-transform: uppercase;
}

.loan-form form h4 span {
    text-align: left;
    font: 20px/25px Muli;
    font-weight: 700;
    letter-spacing: 0px;
    color: #024959;
    margin-left: 20px;
}

.loan-form form input[type=radio]~label {
    margin-right: 10%;
}

.check-terms {
    margin-top: 100px;
}


/*.upload img {
    width: 20px;
    height: 26px;
}

.upload1 img {
    width: 45px;
    height: 29px;
}*/