@import 'commonFooter600up.css';
@import 'modal600up.css';
body,
html {
    width: 100%;
}

body {
    background: #ECEFF1;
    position: relative;
}

body>div {
    width: 100%;
}

img {
    width: 100%;
}


/*  loader css start here*/

.loader-outer {
    float: left;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    height: 100%;
    display: none;
}

.loader-outer-progress {
    float: left;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    height: 100%;
    display: none;
}

.loader-icon {
    left: 50%;
    position: absolute;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.loader-outer img {
    width: 80px;
}

.loader_spin {
    overflow: hidden;
    display: table;
}

.loader-inner p {
    font-size: 18px;
    color: #b99750;
    font-weight: bold;
}


/*  loader css end here*/

.header {
    /*width: 1084px ! important;*/
    height: 70px;
    margin: 0 auto;
    filter: blur(14px), brightness(-0.4), opacity(50%);
    /*column-gap: 5px;*/
}

.logo img {
    height: 37px;
    width: 148px;
    margin-top: 16px;
}

.business {
    padding-left: 0;
}

.business img {
    height: 30px;
    width: 164px;
    margin-top: 20px;
}

.header .btn-primary {
    background-image: linear-gradient(to right, blue, #4d88ff);
    margin-top: 20px;
    height: 30px;
    width: 164px;
    font-size: 12px;
}


/*#myModalLogin*/


/*#myModalReset*/

.hero-image {
    z-index: -1000;
    height: 366px;
    margin-top: -11px;
}

.holiday-text {
    position: absolute;
    top: 45px;
    /* width: 1084px; */
    left: 0;
    right: 0;
    padding-left: 20px;
    margin: auto;
}

.holiday-text p {
    text-align: left;
    font: 24px/30px Muli;
    letter-spacing: 0;
    color: #FFFFFF;
    margin: 5px 0 0 0;
}

.holiday-text h2 {
    font: 30px/34px Muli;
    font-weight: 900;
    letter-spacing: 0;
    color: #FFFFFF;
    text-align: left;
    margin: 10px 0 50px 0;
}

.activities {
    position: absolute;
    height: 84px;
    width: 900px;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    background: #E8ECFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /*display: inline-block;*/
}

@media screen and (max-width: 899px) {
    .activities {
        width: 100%;
    }
}

.activities ul {
    height: 74px;
    position: absolute;
    width: 570px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.activities ul li a {
    /*width: 16.2%;*/
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-top: 0;
    /*display: inline-block;*/
}


/*.activities  li a:focus {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background: red;
}
*/

.activities ul img {
    width: 47px;
    height: 47px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}

.activities ul h5 {
    text-align: center;
    font: 12px/15px Muli, sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    color: #000000;
    margin: 0;
}

.tab-content {
    padding: 20px 0 0 0;
    width: 900px;
    height: 135px;
    margin: 0 auto;
    background-color: white;
}

@media screen and (max-width: 899px) {
    .tab-content {
        width: 100%;
    }
}

.tab-content>div>h3 {
    text-align: left;
    font: 24px/30px Muli;
    font-weight: 700;
    width: 540px;
    margin: 0px auto 8px;
    letter-spacing: 0px;
    color: #024959;
}

.tab-content img {
    width: 24px;
    height: 25px;
    background: transparent;
}

#experience {
    display: flex;
    width: 540px;
    margin: 0 auto;
}

#experience>div {
    width: 345px;
    height: 40px;
    background-color: #E8ECFF;
    border: 0;
    outline: 0;
}

#experience>div>input {
    width: 100%;
    height: 100%;
    background-color: #E8ECFF;
    border: 0;
    outline: 0;
    padding: 0 0 0 60px;
}

#experience>div>input::placeholder {
    text-align: left;
    font: 20px/28px Muli;
    font-weight: 600;
    letter-spacing: 0px;
    color: #888888;
}

#experience>button[data-toggle="dropdown"] {
    width: 50px;
    height: 40px;
    background-color: #E8ECFF;
    border: 0;
    outline: 0;
}

#experience>button.search-btn {
    background-color: #00C51C;
    height: 40px;
    width: 100px;
    margin-left: 20px;
    border: 0;
    outline: 0;
}

div.sideSearch {
    position: fixed;
    left: 2px;
    top: 485px;
    bottom: 1rem;
    width: 47px;
    height: 110px;
    z-index: 100;
    background: #ECEFF1;
    box-shadow: 0px 4px 12px #0000001A;
    border-radius: 0px 6px 6px 0px;
}

.sideSearch a:nth-of-type(1) img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26px;
    height: 26px;
    margin-top: 15px;
}

.sideSearch a:nth-of-type(2) img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38px;
    height: 38px;
    margin-top: 18px;
}

.planning {
    width: 98%;
    margin-top: 136px;
    margin-left: auto;
    margin-right: auto;
}

.planning .container {
    padding: 0;
    width: 100%;
}

.planning h2 {
    text-align: center;
    font: 34px/43px Muli;
    font-weight: 900;
    letter-spacing: 0;
    color: #039BE5;
    width: 100%;
    margin: 0;
}

.planning .col-xs-4 {
    padding: 0;
}

.planning img {
    width: 100%;
}

.planning h3 {
    text-align: left;
    font: 40px/50px Muli;
    font-weight: 900;
    letter-spacing: 0;
    color: #039BE5;
    width: 100%;
    margin: 50px 0 20px 0;
}

.experiences {
    /* width: 1084px; */
    margin: 0px auto 200px auto;
}

.experiences>div {
    height: 304px;
    padding: 0;
    border: 2px solid #ECEFF1;
}

.experiences h2 {
    margin: 0;
    padding: 10px 5px;
    width: 100%;
    /*min-height: 64px;*/
    text-align: center;
    font: 25px/32px Muli;
    color: #024959;
    font-weight: 600;
    letter-spacing: 0;
    cursor: pointer;
}

.experiences img.exp-bg {
    width: 100%;
    height: 220px;
    cursor: pointer;
}