@import 'modal.css';
body,
html {
    width: 100%;
}

body {
    background: #ECEFF1;
    position: relative;
}

img {
    width: 100%;
}


/*  loader css start here*/

.loader-outer {
    float: left;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    height: 100%;
    display: none;
}

.loader-outer-progress {
    float: left;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    height: 100%;
    display: none;
}

.loader-icon {
    left: 50%;
    position: absolute;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.loader-outer img {
    width: 80px;
}

.loader_spin {
    overflow: hidden;
    display: table;
}

.loader-inner p {
    font-size: 18px;
    color: #b99750;
    font-weight: bold;
}


/*  loader css end here*/

#headerNew {
    display: none;
}

.headerNew {
    box-shadow: 0px 3px 6px #00000029;
    width: 1084px;
    height: 70px;
    margin: 0 auto;
}

.headerNew>div:nth-of-type(2)>a {
    text-align: left;
    font: 18px/20px Muli;
    letter-spacing: 0;
    color: #FFF700;
}

.headerNew>div:nth-of-type(3)>a {
    text-align: left;
    font: 18px/20px Muli;
    letter-spacing: 0;
    color: #FFFFFF;
}

.headerNew>div:nth-of-type(4)>h3 {
    text-align: left;
    font: 24px/28px Muli;
    font-weight: 700;
    letter-spacing: 0;
    color: #FF9100;
    margin-top: 0;
}

.headerNew>div:nth-of-type(5)>button {
    text-align: center;
    font: 18px/17px Muli;
    font-weight: 700;
    letter-spacing: 0;
    color: #FFFFFF;
    width: 164px;
    height: 40px;
    background: #EAC31B 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: 0;
}

#header {
    min-width: 1084px;
}

.header {
    width: 1084px;
    height: 70px;
    margin: 0 auto;
    filter: blur(14px), brightness(-0.4), opacity(50%);
    /*column-gap: 5px;*/
}

.logo {
    /*margin-left: 6vw;
	margin-top: 1.5vw;
	margin-bottom: 1.5vw;*/
}

.logo img {
    height: 37px;
    width: 148px;
    margin-top: 16px;
}

.certify>.row>.dropdown {
    padding-left: 0;
    margin-top: 20px;
}

.certify>.row>.dropdown>a {
    text-align: left;
    font: 28px/35px Muli;
    font-weight: 700;
    letter-spacing: 0;
    color: #FFFFFF;
}

.certify>.row>.dropdown>a:hover,
.certify>.row>.dropdown>a:active,
.certify>.row>.dropdown>a:visited {
    text-decoration: none;
}

.header .btn-primary {
    background-image: linear-gradient(to right, blue, #4d88ff);
    margin-top: 20px;
    margin-right: 15px;
    height: 30px;
    width: 164px;
    font-size: 12px;
    float: right;
}

.trek-pagination {
    width: 1084px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    margin-bottom: 12px;
}

.trek-pagination h2 {
    text-align: left;
    font: 18px/23px Muli;
    letter-spacing: 0;
    color: #6E6E6E;
    margin: 0;
}

.trek-pagination span {
    color: #039BE5;
}

.packProgress {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.packProgress>div:first-child {
    display: inline-flex;
    width: 920px;
    margin-left: 35px;
}

.packProgress #circle1 {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background: #00FC24;
    border: 7px solid #039BE5;
}

.packProgress hr {
    border: 2px solid #039BE5;
    width: 410px;
    margin: 13px 0 0 0;
    opacity: 0.2;
}

.packProgress #circle2 {
    height: 28px;
    width: 28px;
    border-radius: 14px;
    background: #E8ECFF 0% 0% no-repeat padding-box;
    border: 8px solid #039BE5;
    opacity: 0.2;
}

.packProgress>div:nth-of-type(2) {
    margin: 0;
}

.packProgress>div:nth-of-type(2) h3 {
    text-align: left;
    font: 18px/23px Muli;
    font-weight: 600;
    letter-spacing: 0;
    color: #039BE5;
    margin-top: 5px;
    opacity: 0.2;
}

.packDetail {
    width: 1084px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.packDetail .form-query {
    padding: 0;
}

.packDetail .form-query>div:first-child {
    padding: 0;
    background-color: #0090FF;
    width: 100%;
}

.form-query>div>h4 {
    text-align: center;
    font: 18px/23px Muli;
    font-weight: 700;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-top: 14px;
}

.restrict-people {
    margin: 0 68px;
    background-color: #00FC24;
    border-radius: 16px;
    padding: 0 10px;
}

.restrict-people h5 {
    text-align: left;
    font: 16px/20px Muli;
    font-weight: 900;
    letter-spacing: 0px;
    color: #1A1746;
    margin-top: 10px;
}

.form-query form {
    padding: 15px;
}

.form-query form div:first-child {
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-top: 5px;
}

.form-query form div:first-child>select {
    height: 50px;
    width: 100%;
    font-size: 20px;
    background-image: url('../icons/calendar.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 23px 23px;
    outline: none;
    border: 0;
    padding-left: 50px;
}

.form-query form>div:last-of-type {
    display: inline-block;
    height: 50px;
    width: 100%;
    background: white;
    margin-top: 15px;
}

.form-query form>div:last-of-type>div {
    display: inline-block;
    width: 100px;
    margin-top: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
}

.form-query form div:last-of-type>input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 30px;
}

.form-query form img {
    width: 17px;
    height: 18px;
    margin: 15px;
}

.form-query form input::placeholder {
    text-align: center;
    font: 20px/25px Muli;
    letter-spacing: 0;
    color: #888888;
}

.form-query form span {
    text-align: left;
    font: 18px/23px Muli;
    letter-spacing: 0;
    color: #024959;
    padding: 15px;
}

.form-query form button {
    text-align: center;
    font: 28px/35px Muli;
    font-weight: 700;
    letter-spacing: 0;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background: #FFC107 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    border: 0;
}

.form-query>div>h3 {
    text-align: center;
    font: 18px/23px Muli;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-top: 10px;
}

.form-query>div>h2 {
    text-align: center;
    font: 24px/30px Muli;
    font-weight: 700;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-top: 15px;
    padding-bottom: 30px;
}


/* .packDetail .form-query {
    padding: 0;
}

.packDetail .form-query>div:first-child {
    padding: 0;
    background-color: #0090FF;
    width: 100%;
}

.form-query form {
    padding: 15px;
    margin-top: 50px;
}

.form-query form div:first-child {
    height: 42px;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-top: 5px;
}

.form-query form div:first-child>input {
    height: 100%;
    width: 100%;
    background-image: url('../icons/calendar.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 23px 23px;
    outline: none;
    border: 0;
    padding-left: 50px;
}

.form-query form div:last-of-type {
    display: inline-block;
    height: 42px;
    width: 100%;
    background: white;
    margin-top: 20px;
}

.form-query form div:last-of-type>input {
    width: 80px;
    margin-top: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
}

.form-query form img {
    width: 17px;
    height: 18px;
    margin: 10px;
}

.form-query form input::placeholder {
    text-align: center;
    font: 17px/22px Muli;
    letter-spacing: 0;
    color: #888888;
}

.form-query form span {
    text-align: left;
    font: 14px/18px Muli;
    letter-spacing: 0;
    color: #024959;
    margin: 10px;
}

.form-query form button {
    text-align: center;
    font: 19px/24px Muli;
    font-weight: 700;
    letter-spacing: 0;
    color: #FFFFFF;
    width: 100%;
    height: 42px;
    margin-top: 20px;
    background: #FFC107 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    border: 0;
}

.form-query>div>h3 {
    text-align: center;
    font: 18px/23px Muli;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-top: 10px;
}

.form-query>div>h2 {
    text-align: center;
    font: 24px/30px Muli;
    font-weight: 700;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-top: 15px;
    padding-bottom: 30px;
} */


/*.form-query > div:last-child {
	background: #E8ECFF 0% 0% no-repeat padding-box;
    border: 0.75px dashed #FF5700;
    margin-top: 20px;
}*/


/* .form-query>div>h1 {
    text-align: left;
    font: 18px/24px Muli;
    font-weight: 900;
    letter-spacing: 0;
    color: #024959;
    margin-left: 45px;
    margin-top: 20px;
} */

.packPlace {
    padding-left: 60px;
    margin-top: 40px;
}

.packPlace h1 {
    text-align: left;
    font: 30px/40px Muli;
    font-weight: 900;
    letter-spacing: 0;
    color: #024959;
    margin: 0;
}

.packPlace span {
    font-weight: 600;
}

.packPlace .weather1 {
    display: inline-flex;
    padding: 0 0 0 15px;
    margin-top: 15px;
}

.packPlace .weather1 img {
    width: 19px;
    height: 22px;
    margin-right: 12px;
}

.packPlace .weather1 span {
    text-align: left;
    font: 18px/23px Muli;
    letter-spacing: 0;
    color: #024959;
}

.packPlace h2 {
    text-align: left;
    font: 24px/30px Muli;
    font-weight: 700;
    letter-spacing: 0;
    color: #1A1746;
    margin-top: 20px;
    margin-bottom: 30px;
}

.packPlace h2 span {
    color: #039BE5;
}

.accomodation {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    padding-left: 18px;
}

.accomodation h3 {
    text-align: left;
    font: 24px/30px Muli;
    font-weight: 600;
    letter-spacing: 0;
    color: #024959;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.accomodation h4 {
    text-align: left;
    font: 18px/23px Muli;
    letter-spacing: 0;
    color: #024959;
    margin: 0;
}

.accomodation hr {
    border: 2px solid #0090FF;
    margin: 12px 20px 12px 0;
}

.accomodation h5 {
    text-align: left;
    font: 20px/25px Muli;
    font-weight: 600;
    letter-spacing: 0;
    color: #024959;
    padding-left: 100px;
    padding-bottom: 16px;
}

.accomodation h5 span {
    text-align: left;
    font: 20px/25px Muli;
    font-weight: 700;
    letter-spacing: 0;
    color: #FF5700;
}

.packPlace button {
    text-align: center;
    font: 24px/36px Muli;
    font-weight: 600;
    letter-spacing: 0;
    color: #FFFFFF;
    background: #FF5700 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000033;
    border-radius: 10px;
    border: 0;
    outline: none;
    float: right;
    width: 158px;
    height: 38px;
    margin-top: 10px;
}

.contact-us {
    width: 1075px ! important;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.contact-us .message {
    width: 730px;
    height: 72px;
    margin: 0 auto;
}

.message h3 {
    text-align: center;
    font: 29px/36px;
    font-weight: 900;
    font-family: 'Muli';
    letter-spacing: 0;
    color: #1A1746;
}

.message span {
    font-weight: 600;
}

.contact-us>div.row {
    margin-top: 30px;
    height: 90px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background: transparent linear-gradient(258deg, #6D0038 0%, #B4025E 43%, #C9006A 100%);
}

.contact-us div.row img {
    height: 25px;
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33px;
}

.contact-us form input {
    color: white;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    opacity: 0.7;
    width: 100%;
    margin-top: 36px;
}

.contact-us ::placeholder {
    text-align: left;
    font: lighter 16px/36px Muli;
    letter-spacing: 0;
    color: #ECEFF1;
}

.contact-us .form-group button {
    font: 14px/36px Muli;
    font-weight: 650;
    margin-top: 22px;
    height: 47px;
    background: #6D0038;
    border-radius: 25px;
    border: 0;
}

.contact-us .form-group button.btn-danger {
    color: #e75480;
    width: 128px;
    opacity: 0.8;
}

.contact-us .form-group button.btn-default {
    color: #6D0038;
    background-color: white;
    width: 178px;
}

.social {
    margin-top: 36px;
}

.social h3 {
    text-align: center;
    font: bold 24px/30px Muli;
    letter-spacing: 0;
    color: #1A1746;
    height: 30px;
}

.social ul {
    border-radius: 25px;
    box-shadow: 0px 4px 12px #34A0FF38;
    background: white;
    height: 46px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    /*transform: translateX(50%);*/
}

.social ul li {
    padding: 8px 30px 8px 30px;
}

.social ul img {
    width: 30px;
    height: 25px;
}

.social p {
    text-align: center;
    font: bold 16px/20px Muli;
    letter-spacing: 0;
    color: #0D47A1;
    margin-top: 8px;
}

.footer {
    width: 1075px ! important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.footer>div.row {
    width: 100%;
}

.footer1 {
    padding-right: 0;
}

.footer1 h3 {
    /*padding-left: 0;
	color: #1A1746;
	font-weight: 750;
	float: bottom;
	vertical-align: text-bottom;*/
    text-align: left;
    font: 24px/30px Muli;
    font-weight: 900;
    letter-spacing: 0;
    color: #1A1746;
    margin-top: 11px;
    margin-bottom: 0;
    float: bottom;
}

.footer1 img {
    padding-right: 0;
    height: 37.3px;
    width: 37.3px;
}

.footer1 p {
    text-align: left;
    font: 14px/20px Muli;
    letter-spacing: 0;
    color: #1565C0;
    margin-top: 10px;
}

.copyright {
    margin-top: 16px;
}

.copyright img {
    width: 18.2px;
    height: 18.2px;
}

.copyright h6 {
    text-align: left;
    font: 10px/20px Muli;
    letter-spacing: 0;
    color: #888888;
    padding-left: 5px;
    margin: 0;
}

.footer2,
.footer3 {
    padding-left: 30px;
}

.footer4 {
    padding: 0;
}

.footer2 h3,
.footer3 h3,
.footer4 h3 {
    text-align: left;
    font-family: 'Muli';
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 0;
    color: #0D47A1;
}

.footer2 a h4,
.footer3 a h4,
.footer4 a h4 {
    text-align: left;
    font: 14px/25px Muli;
    font-weight: 600;
    letter-spacing: 0;
    color: #0D47A1;
}